@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('https://tailwindcss-glassmorphism.vercel.app/sunset.jpg');
  background-size: cover;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: none;
  color: white;
}

.bg-golden {
  background-image: repeating-conic-gradient(from 0deg, transparent 1deg, #9f7928 9deg, #8A6E2F 4deg, #FFFFAC 20deg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #ffe400;
}
  .flex-row {
    flex-direction: row !important;
  }

  .container {
    --size: 48px;
    width: var(--size);
    display: block;
    height: var(--size);
    background-color: #191A1E;
    border-radius: 100%;
    cursor: pointer;
    padding: 5px;
    color: white;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  }

  .container .checkmark {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    transition: all ease 0.3s;
    padding: 8px;
  }

  .container .checkmark svg {
    opacity: 0;
    transition: all ease 0.3s;
  }

  .container input:checked+.checkmark {
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
  }

  .container input:checked+.checkmark svg {
    opacity: 1;
  }